:root{
    --color-white:#ffffff;
    --color-black:#000000;
    --color-black-light:#353535;
    --color-azul-ducald:#28256B;
    --color-naranja-ducald:#CD5B20;
    --color-amarillo-ducald:#E6AD19;
    --color-gris-ducald:#C5C5C5;
    --font-open-sans: 'Open Sans', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    font-size: 16px;
    overflow-x: hidden;
    font-family: var(--font-open-sans);
}

/* MENÚ PRINCIPAL */
.menu_principal{
    display: block;
    position: relative;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 20%);
    z-index: 1;
}

.cont_encabezado{
    max-width: 1200px;
    margin-left: calc(50% - 600px);
}
.cont_encabezado .tit_principal{
    margin-bottom: 48px;
}
.tit_principal, .tit_principal_bn, .tit_principal_bk{
    font-family: var(--font-open-sans);
    color: var(--color-azul-ducald);
    line-height: 3.6rem;
    font-weight: 800;
    font-size: 2.7vw;
}
.tit_principal{
    color: var(--color-azul-ducald);
}
.tit_principal_bn{
    color: var(--color-white);
}
.tit_principal_bk{
    color: var(--color-black);
}
.subtit_principal{
    font-family: var(--font-open-sans);
    color: var(--color-black);
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: bold;
}
.subtit_principal_bn{
    font-family: var(--font-open-sans);
    color: var(--color-white);
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: bold;
}
.subtit_secundario{
    font-size: 2rem;
    color: var(--color-black);
    font-weight: bold;
    line-height: 2.4rem;
}
.subtit_secundario_bn{
    font-size: 2rem;
    color: var(--color-white);
    font-weight: bold;
    line-height: 2.4rem;
}
.subtit_tercero{
    font-size: 2.1rem;
    color: var(--color-black);
    font-weight: bold;
    line-height: 2.4rem;
}
.txt_secundario{
    color: var(--color-black);
    font-size: 1.3rem;
    font-weight: 600;
}
.txt_tercero{
    font-family: var(--font-open-sans);
    font-size: 1.4rem;
    font-weight: 600;
}
.txt_general{
    font-family: var(--font-open-sans);
    color: var(--color-black);
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 600;
}
.txt_general_bn{
    font-family: var(--font-open-sans);
    color: var(--color-white);
    line-height: 1.5rem;
    font-size: 1.3rem;
}
.txt_tercero_xb{
    font-family: var(--font-open-sans);
    font-size: 1.4rem;
    font-weight: 800;
}
.w-400{
    width: 750px;
    margin-left: calc(50% - 375px);
}


/* BOTONES */
button.btn_gen{
    font-family: var(--font-open-sans);
    color: var(--color-azul-ducald);
    font-weight: 600;
    font-size: 1.4rem;
    background-color: #fff;
    border: none;
}
button.btn_gen:hover{
    font-family: var(--font-open-sans);
    color: var(--color-azul-ducald);
    font-weight: 600;
    font-size: 1.4rem;
    background-color: #fff;
    border: none;
}
.btn_gen{
    font-family: var(--font-open-sans);
    color: var(--color-naranja-ducald);
    font-weight: 600;
}
.btn_gen:hover{    
    color: var(--color-naranja-ducald);
    text-decoration: underline;
}
.tit_link, .tit_link_col{
    position: relative;
    font-size: 3vw;
    font-weight: 800;
    pointer-events: auto;
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: none;
    padding: .6rem 0rem;
}
.tit_link{
    color: var(--color-white);
}
.tit_link:hover{
    color: var(--color-white);
    text-decoration: none;
}
.tit_link_col{
    color: var(--color-azul-ducald);
}
.link_slide{
    text-shadow: 1px 5px 7px rgb(0 0 0 / 30%), 0px -5px 35px rgb(255 255 255 / 30%);
}
.button::before,
.button::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--telesto {
	overflow: hidden;
	font-weight: 800;
	background-color: transparent;
}

.button--telesto span {
	display: block;
	position: relative;
	z-index: 1;
}

.button--telesto > span {
	overflow: hidden;
}

.button--telesto:hover > span > span {
	animation: MoveRightInitial 0.1s forwards, MoveRightEnd 0.3s forwards 0.2s;
}

.button--telesto::before,
.button--telesto::after {
	content: '';
	background: var(--color-white);
}

.button--telesto::before {
	width: 132%;
    height: 10px;
	transform: translate3d(-100%,0,0);
    left: -1px;
}

.button--telesto:hover::before {
    transform: translate3d(0,0,0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button--telesto::after {
    width: 105%;
    height: 10px;
	transform: translate3d(100%,0,0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button--telesto:hover::after {
	transform: translate3d(0,0,0);
	transition: transform 0.01s 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}


/* NAVEGACIÓN */
#sec_ducald_01{
    width: 100%;
    height: 90vh!important;
}

.navbar{
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
}
.navbar .navbar-brand{
    width: 120px;
    height: auto;
}
.modal-header .navbar-brand {
    width: 120px;
    height: auto;
    margin-left: 10%;
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: 0;
    color: var(--color-azul-ducald);
    opacity: 1;
    font-size: 2rem;
    margin-right: 10%;
}
.modal-body{
    padding: 0;
    overflow: hidden;
}
.modal-fullscreen{
    max-width: 100%;
    max-height: 100vh;
    margin: 0;
}
.modal-content{
    height: 100vh;
}
.cont_img_menu{
    display: block;
    width: 100%;
    height: 87vh;
    background-image: url('../images/img_menu_principal.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translateY(0px);
    animation-name: imageMenu1;
    animation-duration: 0.6s;
}
.cont_list_navbar{
    background-color: var(--color-azul-ducald);
}
/* MENÚ */
.list_navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0;
    list-style: none;
    height: 70vh;
}
.list_navbar a{
    color: var(--color-white);
    font-family: var(--font-open-sans);
    font-size: 2rem;
    font-weight: bold;
    position: relative;
}
.list_navbar li{
    padding-bottom: 2.8%;
    padding-left: 20px;
}
/* SOCIAL */
.list_navbar_social{
    width: 100%;
    padding-left: 12px;
    list-style: none;
    height: 12vh;
    display: flex;
    align-items: center;
}
.list_navbar_social a{
    margin: 0 12px;
}
.list_navbar_social img{
    height: 40px;
}



    /* SECCIONES */
.sec_general{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100vh;
}
#sec_ducald_01, #sec_ducald_02, #sec_ducald_03, #sec_ducald_04, #sec_ducald_05, #sec_ducald_06{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#sec_ducald_01{
    background-image: url('../images/Pinturas-ducald-tu-mejor-opcion.jpg');
}
#sec_ducald_02{
    background-image: url('../images/Pinturas-ducald-productos.jpg');
}
#sec_ducald_03{
    background-image: url('../images/Pinturas-ducald-nosotros.jpg');
}
#sec_ducald_04{
    background-image: url('../images/Pinturas-ducald-blog.jpg');
}
#sec_ducald_05{
    background-image: url('../images/Pinturas-ducald-facturacion.jpg');
}
#sec_ducald_06{
    background-image: url('../images/Pinturas-ducald-contacto.jpg');
}


    /* FOOTER */
#footer{
    position: relative;
    font-family: var(--font-open-sans);
    background-color: var(--color-amarillo-ducald);
    font-weight: 600;
    padding: 100px 0px 20px 0px;
}
#footer::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 68px;
    top: -60px;
    background-image: url('../images/svg/pleca_footer_top.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}
.cont_logo_foot{
    margin-bottom: 40px;
}
.tit_footer{
    color: var(--color-white);
    font-weight: 600;
    font-size: 1rem;
}
.tit_foot_principal{
    font-family: var(--font-open-sans);
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-white);
}
.list_foot_product{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.list_foot_product a{
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 500;
}
.list_social_foot{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 60px 0px;
}
.list_social_foot a{
    height: 28px;
    padding: 0px 6px;
    margin: 0 2px;
}
.list_social_foot li img{
    height: 28px;
}
.txt_legales{
    color: var(--color-white);
    font-family: var(--font-open-sans);
    font-size: 1rem;
    margin-bottom: 0;
}

/* __PÁGINA PRINCIPAL__ */
.sec_gen{
    position: relative;
    padding: 80px 0px 100px 0px;
}
.pleca_divider::before{
    position: absolute;
    content: "";
    top: -60px;
    width: 100%;
    left: 0;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center bottom -4px;
    background-size: 100%;
    z-index: 1;
}
.pleca_white::before{
    background-image: url('../images/svg/pleca_divider_white.svg');
}
.pleca_orange::before{
    background-image: url('../images/svg/pleca_divider_orange.svg');
}
.pleca_blue::before{
    background-image: url('../images/svg/pleca_divider_blue.svg');
}
.slider-item01{
    background-image: url(../images/Pinturas-ducald-slider-calidad.jpg);
}
.owl-carousel.home-slider .slider-item .slider-text h1{
    font-family: var(--font-open-sans);
    font-size: 4vw;
    color: var(--color-azul-ducald);
    margin-bottom: 20px;
}
.cont_descrip_slider{
    max-width: 480px;
    margin-left: 40px;
}
.txt_slider{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-azul-ducald);
}
.icon-arrow-back, .icon-arrow-next {
    display: block;
    width: 40px;
    height: 40px;
}
.owl-carousel.home-slider .owl-nav .owl-prev{
    position: relative;
    background-image: url('../images/svg/icon_arrow_back.svg');
    background-repeat: no-repeat;
    background-size: cover;
    left: calc(49% - 100px);
}
.owl-carousel.home-slider .owl-nav .owl-next{
    position: relative;
    background-image: url('../images/svg/icon_arrow_next.svg');
    background-repeat: no-repeat;
    background-size: cover;
    right: calc(-51% + 100px);
}
.owl-carousel.slide-img .owl-nav .owl-prev{
    position: relative;
    background-image: url('../images/svg/icon_arrow_back.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.owl-carousel.slide-img .owl-nav .owl-next{
    position: relative;
    background-image: url('../images/svg/icon_arrow_next.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent!important;
}
.owl-carousel.home-slider .owl-nav{
    top: 84%;
}

    /* FILA 4 PRODUCTOS */
.cont_productos{
    margin-top: 80px;
}
 .article_product_cover img{
    width: 80%;
    margin-bottom: 24px;
} 
.cont_tit{
    padding: 40px 0px;
}

    /* SECTION BLOG */
#sec_blog{
    background-color: var(--color-naranja-ducald);
}
#sec_blog .cont_txt{
    margin-left: 24px;
}
#sec_blog img{
    width: 50%;
}
#sec_factura{
    background-color: var(--color-azul-ducald);
}

    /* SECTION POR QUE ELEGIR */
#por_que_elegir{
    padding: 80px 5% 100px 5%;
}
.cont_elegir_gal{
    margin-top: 24px;
}
.cont_socios_comerciales h2.tit_principal{
    margin: 80px 0px;
}
.list_general{
    padding-left: 20px;
}
.list_general .item_general{
    font-family: var(--font-open-sans);
    font-size: 1.2rem;
    font-weight: 600;
}

/* __PREGUNTAS FRECUENTES__ */
.sec_preguntas{
    padding: 80px 0px 100px 0px;
}
.sangria{
    padding-left: 20px;
}

/* __PRODUCTOS__ */
    /* NAV PRODUCTOS */
.nav_prod{
    position: sticky;
    top: 0px;
    padding: 20px 0px;
    background-color: var(--color-naranja-ducald);
    z-index: 2;
}
.nav_list{
    position: relative;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
}
.nav_prod .item_nav{
    font-family: var(--font-open-sans);
    color: var(--color-white)!important;
    font-size: 1rem;
    cursor: pointer;
}
#calc_litros{
    padding: 80px 0px;
}

    /* CUANTOS LITROS */
.cont_form_litros{
    margin-top: 80px;
}
.cont_form_calc{
    background-color: var(--color-naranja-ducald);
}
#form_litros{
    box-sizing: border-box;
    padding: 24px;
}
.group_input{
    width: 100%;
}
.group_input input{
    padding: 6px 16px;
    border: none;
    width: 100%;
    background-color: var(--color-gris-ducald);
    font-family: var(--font-open-sans);
    margin-bottom: 20px;
}
#form_litros .group_input input::placeholder{
    color: var(--color-black-light);
    font-family: var(--font-open-sans);
    font-weight: 600;
}
#form_litros label{
    display: block;
    font-family: var(--font-open-sans);
    color: var(--color-white);
    font-size: 1.4rem;
}
#form_litros #btn_form{
    margin-top: 8px;
    width: 100%;
    background-color: var(--color-white);
    font-size: 1.4rem;
    border: none;
    padding: 4px 0px;
}
#form_litros #btn_form::placeholder{
    font-family: var(--font-open-sans);
}
.cont_return_form{
    background-color: var(--color-white);
    border: 4px solid var(--color-naranja-ducald);
    padding: 40px 0px 60px 0px;
}
.tit_return{
    font-family: var(--font-open-sans);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: var(--color-naranja-ducald);
}
.number_retur{
    font-family: var(--font-open-sans);
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}
.subTit_return{
    font-family: var(--font-open-sans);
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.2rem;
}
.caption_return{
    font-family: var(--font-open-sans);
    font-size: .9rem;
    font-weight: 600;
}
.w-300{
    width: 800px;
    margin-left: calc(50% - 400px);
}
.cont_img_balse{
    margin: 60px 0px 0px 0px;
}
.cont_img_balse img{
    max-width: 340px;
}


    /* BANNER MADERAS */
#banner_maderas{
    padding: 120px 0px 120px 0px;
    background-image: url('../images/Pinturas-ducald-bg-maderas.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

    /* SLIDER FOTOS */
#sec_tecnologia{
    padding: 20px 0px 0px 0px;
    height: auto;
}
.slide-img .owl-nav{
    position: absolute;
    bottom: 100px;
    width: 100%;
}
#sec_tecno_descrip{
    padding: 80px 5% 60px 5%;
}

    /* FILOSOFÍA */
#sec_filo{
    padding: 0px 5% 60px 5%;
}
#sec_filo h2{
    margin-bottom: 80px;
}
#sec_filo > div{
    margin-bottom: 30px;
}

    /* LISTADO DE UBICACIONES */
#sec_directorio{
    padding: 80px 5% 120px 5%;
    background-color: var(--color-azul-ducald);
}

/* __BLOG__ */
#sec_blog_encab{
    padding: 80px 0px 40px 0px;
}
.item_article_blog{
    padding: 40px 0px 0px 0px;
}
/* __CONTACTO__ */
#sec_ubicacion{
    padding: 0px 5% 60px 5%;
}
.list_atencion{
    list-style: none;
    padding-left: 0;
}
.list_atencion a{
    font-family: var(--font-open-sans);
    color: var(--color-black);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
}

    /* FORMULARIO TABULACION */
#sec_form_navTab{
    padding: 0px 5% 60px 5%;
}
.form_contacto label{
    font-family: var(--font-open-sans);
    color: var(--color-azul-ducald);
    font-size: 1.4rem;
    line-height: 1.3rem;
    font-weight: 500;
}
.form_contacto .group_input input{
    margin-bottom: 20px;
}
.label_cont{
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}
.form_contacto .group_input input[type=radio]{
    width: 10px;
}
.form_contacto h2{
    font-family: var(--font-open-sans);
    color: var(--color-azul-ducald);
    font-size: 1.6rem;
    line-height: 1.3rem;
    font-weight: 500;
}
.form_contacto .form-check-label{
    color: var(--color-black);
}
.form_contacto textarea{
    display: block;
    width: 100%;
    height: 34px;
    border: none;
    background-color: var(--color-gris-ducald);
}
.form_contacto .btn_submit{
    color: var(--color-white);
    width: 100%;
    border: none;
    padding: 4px 0px;
    background-color: var(--color-naranja-ducald);
}
.cont_input_radio{
    margin-bottom: 20px;
}
.nav-tabs .nav-link{
    padding: 8px 16px;
    font-size: 1.6rem;
}
.nav-tabs .nav-link.active{
    background-color: var(--color-naranja-ducald);
    color: var(--color-white);
}
#myTab .nav-item{
    width: 25%;
}
#myTab .nav-item .nav-link{
    width: 100%;
}
.tab-pane{
    box-sizing: border-box;
    border: 2px solid var(--color-naranja-ducald);
}
    /* BTN PREGUNTAS FAQS */
#sec_faqs{
    padding: 20px 0% 100px 0%;
}
#exampleModal{
    z-index: 999;
}
.modal-backdrop{
    z-index: 1;
}
    /* PRODUCTOS */
.sec_pintura_producto{
    padding: 80px 0px 0px 0px;
    width: 100%;
    overflow: hidden;
}
.sec_distribuidor_producto{
    padding: 60px 0px 80px 0px;
}
.divider_p{
    width: 100%;
    height: 50px;
}
.hidden-menu{
    position: absolute;
    display: none;
    width: 100%;
    top: 100px;
    box-sizing: border-box;
    padding: 0px 16px 40px 16px;
    background-color: var(--color-amarillo-ducald);
    z-index: 1;
}
.subMenu_productos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.subMenu_productos img{
    width: 100px;
    display: block;
    margin: 0 auto;
}
.subMenu_productos a{
    width: 100%;
    height: 50px;
    font-size: .8rem;
    color: var(--color-black);
    font-family: var(--font-open-sans);
    font-weight: 600;
}
.subMenu_productos{
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.subMenu_productos li{
    transform: translate(-20px, 20px);
    text-align: center;
    width: 120px;
}
.subMenu_productos li:nth-child(1){
    animation-name: itemMenu01;
    animation-duration: .6s;
}
.subMenu_productos li:nth-child(2){
    animation-name: itemMenu01;
    animation-duration: .9s;
}
.subMenu_productos li:nth-child(3){
    animation-name: itemMenu01;
    animation-duration: 1.2s;
}
.subMenu_productos li:nth-child(4){
    animation-name: itemMenu01;
    animation-duration: 1.5s;
}
.subMenu_productos li:nth-child(5){
    animation-name: itemMenu01;
    animation-duration: 1.8s;
}
.subMenu_productos li:nth-child(6){
    animation-name: itemMenu01;
    animation-duration: 2.1s;
}
.subMenu_productos li:nth-child(7){
    animation-name: itemMenu01;
    animation-duration: 2.4s;
}
.subMenu_productos li:nth-child(8){
    animation-name: itemMenu01;
    animation-duration: 2.7s;
}
.subMenu_productos li:nth-child(9){
    animation-name: itemMenu01;
    animation-duration: 3s;
}
.nav_list_offset .hidden-menu {
    top: 60px;
}
/* NAV */
.list_navbar a:nth-child(1){
    animation-name: animaItem1;
    animation-duration: .3s;
}
.list_navbar a:nth-child(2){
    animation-name: animaItem1;
    animation-duration: .6s;
}
.list_navbar a:nth-child(3){
    animation-name: animaItem1;
    animation-duration: .9s;
}
.list_navbar a:nth-child(4){
    animation-name: animaItem1;
    animation-duration: 1.2s;
}
.list_navbar a:nth-child(5){
    animation-name: animaItem1;
    animation-duration: 1.5s;
}
.list_navbar a:nth-child(6){
    animation-name: animaItem1;
    animation-duration: 1.8s;
}

/* NAV BEFORE */
.list_navbar a::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: var(--color-white);
}
.list_navbar a:nth-child(1)::before{
    animation-name: animaLine1;
    animation-duration: .2s;
}
.list_navbar a:nth-child(2)::before{
    animation-name: animaLine1;
    animation-duration: .4s;
}
.list_navbar a:nth-child(3)::before{
    animation-name: animaLine1;
    animation-duration: .6s;
}
.list_navbar a:nth-child(4)::before{
    animation-name: animaLine1;
    animation-duration: .8s;
}
.list_navbar a:nth-child(5)::before{
    animation-name: animaLine1;
    animation-duration: 1s;
}
.list_navbar a:nth-child(6)::before{
    animation-name: animaLine1;
    animation-duration: 1.2s;
}
/*NAV SOCIAL*/
.list_navbar_social a:nth-child(1){
    animation-name: animaItem1;
    animation-duration: .3s;
}
.list_navbar_social a:nth-child(2){
    animation-name: animaItem1;
    animation-duration: .6s;
}
.list_navbar_social a:nth-child(3){
    animation-name: animaItem1;
    animation-duration: .9s;
}
.list_navbar_social a:nth-child(4){
    animation-name: animaItem1;
    animation-duration: 1.2s;
}


/* ANIMACIONES SUB-MENU */
@keyframes itemMenu01 {
    from {
        transform: translate(0px, 0px);
        opacity: 0;
	}
    to {
        transform: translate(-20px, 20px);
        opacity: 1;
    }
}

/* ANIMACIONES MENU */
@keyframes animaItem1 {
    from {
        transform: translateX(20px);
        opacity: 0;
	}
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* ANIMACIONES LINE */
@keyframes animaLine1 {
    from {
        width: 40%;
        opacity: 0;
	}
    to {
        width: 100%;
        opacity: 1;
    }
}

/* ANIMACIONES LINE */
@keyframes imageMenu1 {
    from {
        transform: translateY(80px);
        opacity: 0;
	}
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}




    /* ANIMACIONES */
@keyframes MoveRightInitial {
	to {
		transform: translate3d(105%,0,0);
	}
}
@keyframes MoveRightEnd {
	from {
		transform: translate3d(-100%,0,0);
	}
	to {
		transform: translate3d(0,0,0);
	}
}

    /* __RESPONSIVE__ */

    /* 1200px */
@media only screen and (max-width:1200px){
    .tit_link{
        font-size: 4vw;
    }
    #sec_for_product .cont_encabezado{
        max-width: 768px;
        margin-left: calc(50% - 384px);
    }
}

    /* 768px */
@media only screen and (max-width:768px){
    .tit_link{
        font-size: 5vw;
    }
    #sec_for_product .cont_encabezado{
        max-width: 480px;
        margin-left: calc(50% - 240px);
    }
}

    /* 560px */
@media only screen and (max-width:560px){
    .tit_link{
        font-size: 2.5rem;
        line-height: 1.2;
    }
    .cont_img_menu{
        display: none;
    }
    .list_navbar li {
        padding-bottom: 6%;
        padding-left: 40px;
    }
    .list_navbar_social{
        padding-left: 40px;
    }
    .list_navbar{
        height: 73.4vh;
    }
    .nav_list{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;
    }
    .nav_prod .item_nav{
        margin: 6px 12px;
    }
    .w-400, .cont_encabezado{
        width: 100%;
        margin: 0;
    }
    .tit_principal, .tit_principal_bn, .tit_principal_bk{
        font-size: 8vw;
        line-height: 1.2;
    }
    .article_product_cover{
        margin-bottom: 40px;
    }
    .tit_link_col{
        font-size: 8vw;
        line-height: 1.2;
    }
    #sec_blog .container{
        flex-direction: column;
    }
    #sec_blog img {
        width: 100%;
    }
    #sec_blog .cont_txt {
        margin-top: 24px;
        margin-left: 0;
    }
    .pleca_divider::before{
        background-size: 400%;
        top: -56px;
    }
    .sec_gen{
        padding: 80px 16px 100px 16px;
    }
    .cont_descrip_slider{
        margin-left: 0px;
        padding-left: 16px;
    }
    #por_que_elegir img{
        margin-bottom: 20px;
    }
    #por_que_elegir {
        padding: 80px 0% 100px 0%;
        overflow-x: hidden;
    }
    #por_que_elegir > .align-items-center{
        padding: 0px 16px;
    }
    .cont_socios_comerciales .col-12{
        box-sizing: border-box;
        padding: 0;
    }
    #calc_litros .cont_encabezado{
        padding: 0px 16px;
    }
    .w-300{
        width: 100%;
        margin: 0;
    }
    .cont_return_form {
        padding: 40px 0px 40px 0px;
    }
    #sec_tecno_descrip img{
        margin-bottom: 20px;
    }
    #arcticle_blog .item_article_blog{
        padding: 40px 0px 0px 0px;
    }
    .item_article_blog h2, .item_article_blog p{
        padding: 0 16px;
    }
    #myTab .nav-item {
        width: 100%;
    }
    #sec_for_product .cont_encabezado{
        max-width: 320px;
        margin-left: calc(50% - 160px);
    }
    .sec_pintura_producto .subtit_principal{
        font-size: 1.4rem;
        padding-left: 16px;
        padding-right: 16px;
    }
    .subMenu_productos{
        flex-wrap: wrap;
    }
    .subMenu_productos img {
        width: 60px;
    }
    .subMenu_productos li {
        width: 80px;
        margin-bottom: 16px;
    }
    .hidden-menu {
        top: 236px;
    }
    .nav_list_offset .hidden-menu {
        top: 128px;
    }
}